body{
    font-family: 'Roboto Slab', serif;
    background-color:darkgrey;
    color:aliceblue;
}
h1, h2, h3, h4, h5, h6{
        font-family:'Grenze Gotisch';
        font-size: 40pt;
}

header{
    text-align: center;
}
#hero, footer{
    color: #70D6C3;
    border: 2px solid #57618F;
    background-color: #11422B;
    text-align: center;
    padding: 10px;
}
#hero img{
    width: 400px;
}
#bio{
    text-align: center;
}
/* Hobbies List*/

#hobbies h2{
    text-align: center;
}

#hobbies ul{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-shadow: 5px 3px 15px chartreuse;
}
#hobbies ul li{
    margin-left: 2rem;
    color:darkolivegreen;
    padding: 0.2rem;
}
#hobbies ul li:nth-child(even){
    color: rgb(136, 37, 37);
}