body{
    font-family: 'Roboto Slab', serif;
    background-color:darkgrey;
    color:aliceblue;
}
h1, h2, h3, h4, h5, h6{
        font-family:'Grenze Gotisch';
        font-size: 40pt;
}

header{
    text-align: center;
    color: #11422B;
}
#hero, footer{
    color: #70D6C3;
    border: 2px solid #57618F;
    background-color: #11422B;
    text-align: center;
    padding: 10px;
}
#hero img{
    width: 400px;
}
#bio{
    text-align: center;
    color: #11422B;
}
/* Hobbies List*/

#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies h2{
    text-align: center;
    color: #11422B;
}

#hobbies ul{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-shadow: 5px 3px 15px chartreuse;
}
#hobbies ul li{
    margin-left: 3rem;
    margin-right: 3rem;
    color:darkolivegreen;
    padding: 0.2rem;
}
#hobbies ul li:nth-child(even){
    color: rgb(136, 37, 37);
    
}
/*Photo Gallery*/
#gallery{
    text-align: center;
    color: #11422B;
}
#gallery img{
    max-width: 90%;
}
#gallery figcaption{
    color: black;
    font-style: italic;
    padding: 1rem;
}
/*Article*/
article h2{
    text-align: center;
    color: #11422B;
}

article p{
    color: black;
    padding: 2rem;
    padding-top: 0rem ;
    margin: 1px;
    text-align: justify;
    font-style:normal;
}
/*Drop caps*/
article p::first-letter{
    color:cornflowerblue;
    font-size: 400%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 5px double black;
    float: left;
    margin-right: 1ex;
    margin-top: 1rem;
    background-color: khaki;   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: radial-gradient(rgb(223, 202, 19),white);
}