body{
    font-family: 'Roboto Slab', serif;
    background-color:darkgrey;
    color:aliceblue;
}
h1, h2, h3, h4, h5, h6{
        font-family:'Grenze Gotisch';
        font-size: 40pt;
}

h2{
    margin-top: 0ex;
    margin-bottom: .25ex;
}

header{
    text-align: center;
    color: #11422B;
}
#hero, footer{
    color: #70D6C3;
    border: 2px solid #57618F;
    background-color: #11422B;
    text-align: center;
    padding: 10px;
}
#hero img{
    width: 400px;
}
#bio{
    text-align: center;
    color: #11422B;
}
/* Hobbies List*/

#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies h2{
    text-align: center;
    color: #11422B;
}sdsd

#hobbies ul{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-shadow: 5px 3px 15px chartreuse;
}
#hobbies ul li{
    margin-left: 3rem;
    margin-right: 3rem;
    color:darkolivegreen;
    padding: 0.2rem;
}
#hobbies ul li:nth-child(even){
    color: rgb(136, 37, 37);
    
}
/*Photo Gallery*/
#gallery{
    text-align: center;
    color: #11422B;
}
#gallery img{
    max-width: 90%;
}
#gallery figcaption{
    color: black;
    font-style: italic;
    padding: 1rem;
}
/*Article*/
article h2{
    text-align: center;
    color: #11422B;
}

article p{
    color: black;
    padding: 2rem;
    padding-top: 0rem ;
    margin: 1px;
    text-align: justify;
    font-style:normal;
}
/*Drop caps*/
article p::first-letter{
    color:cornflowerblue;
    font-size: 400%;
    padding-top: .5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 5px double black;
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: khaki;   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: radial-gradient(rgb(223, 202, 19),white);
}


/*Tablet state*/
@media screen and (min-width: 960px){
    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }


    #lit div{
        max-width:100%;
        columns: 40rem;
    }
    
} /*end media query*/
/*large screen size*/

@media screen and (min-width=100em){

#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

hr{
    display: none;
}

#gallery h2{
    grid-column: 1/-1;
}

figure{
    display: block;
}

}